.headline-container {
	margin-bottom: 2em
}

.headline-container h2 {
	font-size: 2em;
	font-weight: 700;
	text-decoration: none
}

.headline-container p {
	font-style: italic;
}

.headline-container * {
	text-decoration: none;
	color: black;
}

.disabled-link {
	pointer-events: none;
}