img {
	max-width: 100%;
	margin-top: 1em;
	margin-bottom: .5em
}

.details-container > p {
	margin-bottom: 1em
}

.details-container {
	margin-bottom: 3em
}

.copyright {
	font-size: .8em
}

p:first-child {
	font-size: .8em;
	margin-bottom: 3em;
	margin-top: -1em;
}

strong {
	font-weight: 700
}